 @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 
 *{
  margin:0;
  padding:0;
  box-sizing: border-box; 
  font-family:"Inter",sans-serif ;
 }
 body{
  background:rgba(0,0,0,1);
  color:white;
 }

 /* navbar styling */

 nav{
 
  padding:5px;
  display:flex;
  max-width: 1100px;
  margin:0 auto;
  justify-content: space-between;
  align-items: center;
 }

 nav>p{
 
  font-size: 36px;
  color:#E6533C;
  font-weight: bold;
  font-style: italic;
 }

 nav>div{
  border:1px solid rgb(138, 138, 138);
  display:flex;
  gap:47px;
  align-items: center;
  border-radius: 39px;
  padding:2px 5px;

 }
 nav>span{
  margin-right:10px;
  display:none;
 }

 .home-btn{
  background-color:#E6533C ;
  padding:5px 10px;
  border-radius:46px;

 }

 /* banner design */

 .banner-container{
       
        min-height: 400px;
        display:flex;
        padding:10px;
        max-width:1100px;
        margin:0 auto;
 }

 .banner-left{
     
      min-height: 200px;
      width:50%;
 }

 .banner-left>h1{
  font-size: 78px;
 }
 .banner-left>p{
   margin-top: 28px;
   margin-bottom:28px;
   
 }

 .banner-right{
     
      min-height: 200px;
      width:50%;
      display: flex;
      justify-content: end;
 }

 .banner-right img{
  height: 70%;
 }

 .btn-container>button{
         width:150px;
         height:30px;
         border-radius: 42px;
   color:white;
   border:none;
 }















 @media  screen and (max-width:576px) {
  body{
    width:100vw;
  }
   .menu-container{
    display:none;
   }
   
   nav>span{
    display:inline;
   }
   .banner-container{
    width:100vw;
    flex-direction: column;
    height:100vh;
    gap:20px;
   }

   .banner-left{
    width:100%;
    height:50%;
   }
   .banner-right{
    width:100%;
    display: flex;
    justify-content: center;
    height:50%;
   }
   .banner-left>h1{
    font-size: 49px;
   }
   .banner-right img{
    width:100%;
    height:100%;
   
   }

   .btn-container{
    align-items: center;
    display:flex;
    gap:20px;
    flex-direction: column;
   }
   .btn-container>button{
    height:40px;
   }
   .banner-left>p{
    line-height: 25px;
    margin-bottom: 40px;
   }
 }